<h1>Create a new trip</h1>

<nav>
  <ul class="pager">
    <%= link_to trips_path do %>
      <li class="previous"><span aria-hidden="true">&larr; Back to Trips</span></li>
    <% end %>
  </ul>
</nav>

<%= render 'trip_form' %>

