<div class="jumbotron">
  <div class="centered">
    <h1>Welcome to Etla</h1>
    <p>Plan your trips, travel the world.</p>
    <%= link_to new_user_registration_path do %>
      <li class='btn btn-large btn-primary'>Sign Up</li>
    <% end %>
  </div>
  
</div>
