<br><br><br>
<div class="about-class">
  <h2>Etla is an app that helps your trips stay organized</h2>
</div>

<div class="about-sub-class">
  <p>Let Etla help you handle your trips and activity details. Create a new trip with the dates you want, then add as many activities and details you need to remember during your trip. Planning a trip has never been easier.</p>
</div>

<br><br><br><br>
