 @import "bootstrap-sprockets";
 @import "bootstrap";

/*
*= require bootstrap-datepicker3
*/

.navbar-brand{
  padding: 0;
  height: 0;
}

.centered
{
    text-align:center;
}

.jumbotron{
  height: 375px;
  background-image: url("fallsjokull_pano.jpg");
  background-size: cover;
  margin-bottom: 5px; 
}

.jumbotron h1{
  font-size: 100px;
}

.jumbotron p{
  font-size: 40px;
}

.jumbotron a li {
  font-size: 30px;

}

.alert, .notice{
  padding: 15px;
  border: none;
  margin: 0;

}

a.welcome{
  font-size: 70px;
}

nav{
  margin-bottom: 0;
}

nav.navbar.navbar-default{
  padding-bottom: 10px;
  padding-left: 20px;
  margin: 0;
}

ul.nav.navbar-nav{
  padding-top: 30px;
  padding-left: 10px;
  font-size: 22px;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.navbar-default .navbar-nav > li > a{
  color: black;
}

label {color: pink;}

li.btn.btn-large.btn-primary{
  background-color: rgba(102, 102, 131, 0.54);
  border-color: rgba(88, 89, 112, 0.67);
  padding-right: 20px;
  padding-left: 20px;
  letter-spacing: 1.5px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 30px;
}

div.footer{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing:1px;
  text-transform: uppercase;
  text-align: right;
  padding-right: 20px;
}




h1{
  font-size: 60px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Oswald', Helvetica, sans-serif;
}

i.glyphicon.glyphicon-plus{
  font-size: 30px;
  color: black;
  padding: 20px;
  text-align:center;
  display: inline-block;
  width: 100%;
}

div.new_trip{
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
}

div.page-header{
  border: none;
}

li.list-group-item{
  border:none;
}

div.panel.panel-primary{
  width: 40%;
  margin: auto;
}

.panel-primary{
  border-color: #000000;
}

h2{
  font-family: 'Oswald', Helvetica, sans-serif;
  text-align: center;
  letter-spacing: 1.5px;

}

a{
  color:black;
}

a:hover {
  color: rgba(88, 89, 112, 0.67);
}

div.panel-footer{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 25px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

button {
  white-space: normal !important;
  height: 40px;
  width: 120px;
}

button.btn.btn-default{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.btn .badge{
  background-color: #756f8f;
}

