<h1>Update Activity</h1>

<nav>
  <ul class="pager">
    <%= link_to trip_path do %>
      <li class="previous"><span aria-hidden="true">&larr; Back to Activities</span></li>
    <% end %>
  </ul>
</nav>

<%= render 'activity_form' %>



