<nav>
  <ul class="pager">
    <%= link_to trip_path(@trip) do %>
      <li class="previous"><span aria-hidden="true">&larr; Back to Activities</span></li>
    <% end %>
  </ul>
</nav>

<h1>Create new activity</h1>

<%= render 'activity_form' %>
